// COLORS
$color-p: #d3341e;
$color-p-600: #d3341e;
$color-p-500: #f55437;
$color-p-400: #ff7150;
$color-p-300: #ff8f6a;

$color-sec: #0075ff;
$color-sec-300: #0075ff;
$color-sec-400: #005ce1;
$color-sec-500: #0045c3;
$color-sec-600: #002fa6;

$color-black: #161616;
$color-white: #ffffff;
$color-white-200: #f7f7f7;

// MARGINS
$mg-btm-1: 1rem;
$mg-btm-2: 2rem;
$mg-btm-3: 3rem;
$mg-btm-4: 4rem;

// FONT FAMILY
// $body-font: "Noto Sans JP", sans-serif;
$body-font: "Poppins", sans-serif;
$title-font: "Raleway", sans-serif;

// FONT SIZE
$h1-fsize: 6.5rem;
$h2-fsize: 3rem;
$h3-fsize: 2.2rem;
$h4-fsize: 1.8rem;
$h5-fsize: 1.4rem;

$normal-fsize: 1.6rem;
$small-fsize: 1.2rem;
